﻿<h1>O škole</h1>

<h2>Výuka</h2>
  <p>Gymnázium, Praha 6, Nad Alejí 1952 je všeobecně zaměřená škola, která připravuje studenty především k vysokoškolskému studiu (úspěšnost absolventů při přijímacím řízení na vysoké školy je stabilně vysoká). Gymnázium nabízí rozšířený program v anglickém jazyce s možností vykonat v průběhu studia mezinárodně platné cambridgeské zkoušky různého stupně (FCE, CAE).</p>
  <p>Vysoká úroveň vzdělání, kterou naše gymnázium poskytuje, je dána kvalitním pedagogickým zázemím. Ve všech předmětových komisích dbají vyučující na zvyšování odbornosti a doplňování nových informací ve svém oboru. Zkušení učitelé spolupracují s různými profesními organizacemi a nakladatelstvími, mnozí působí jako fakultní učitelé. Ve škole vyučují američtí lektoři, externě spolupracují i rodilí mluvčí ostatních cizích jazyků a učitelé některých odborných předmětů. Kvalitní pedagogický sbor dává absolventům pevné základy pro další studium i pro praktický život.</p>
  <p>Škola vzdělává studenty ve čtyřletém (od vzniku školy v roce 1984) a osmiletém cyklu (od roku 1994).</p>
  <p>Od školního roku 2007/08 se studenti gymnázia učí podle našeho školního vzdělávacího programu „Alejí ke vzdělání“. Základem všech učebních programů je skloubení náročného středoškolského učebního plánu s moderními metodami a přístupy rozvíjejícími samostatné tvůrčí myšlení při individuálním i týmovém řešení problémů.</p>
<h2>Budova školy</h2>
  <p>Gymnázium Nad Alejí se nachází v klidném a čistém prostředí sídliště Petřiny, nedaleko obory Hvězda. Komplex školy tvoří hlavní budova, sportovní blok, administrativní část, školní jídelna a ubytovna pro zahraniční lektory. Součástí areálu je venkovní sportoviště, v roce 2006 byla dokončena jeho celková rekonstrukce.</p>

<h3>Výtah</h3>
  <p>Za zapůjčení klíče od výtahu škola od studentů účtuje vratnou zálohu ve výši 300 Kč. Klíče půjčujeme pouze studentům v rekonvalescenci po úrazech, dlouhodobě zapůjčujeme studentům s fyzickým hendikepem.</p>

<h2>Dopravní dostupnost prostřednictvím MHD</h2>
  <ul>
      <li>metro trasa A – stanice Petřiny</li>
      <li>tramvaje 1 a 2 – zastávka Petřiny</li>
      <li>autobusy 108, 164, 168, 191 – zastávka Petřiny</li>
  </ul>

<h2>Vybavení školy</h2>
  <ul>
      <li>odborné učebny a laboratoře biologie, chemie a fyziky</li>
      <li>učebna PG vybavená výpočetní technikou a promítáním</li>
      <li>odborné učebny dějepisu, společenských věd a zeměpisu</li>
      <li>4 odborné učebny jsou vybaveny promítací technikou</li>
      <li>8 učeben je vybaveno velkoplošnými plazmovými panely</li>
      <li>8 učeben má instalované interaktivní tabule</li>
      <li>malý divadelní sál s promítáním a ozvučením „5.1“</li>
      <li>výtvarný ateliér a grafická dílna</li>
      <li>multifunkční hřiště s běžeckou dráhou</li>
      <li>2 tělocvičny a posilovna s boulderingovou horolezeckou stěnou</li>
      <li>česká a anglická knihovna</li>
      <li>studovna a studentský klub</li>
      <li>WiFi připojení k internetu</li>
      <li>restaurace s možností občerstvení od 7 do 14.30 h.</li>
      <li>ohrada na umístění jízdních kol</li>
      <li>zkušebna školních kapel</li>
  </ul>
<h2>Profesorský sbor</h2>
<p>Dobrá úroveň vzdělání, kterou škola poskytuje, je dána kvalitním pedagogickým zázemím. Ve všech předmětových komisích dbají vyučující na zvyšování odbornosti a doplňování nových informací ve svém oboru. Zkušení učitelé spolupracují s různými profesními organizacemi a nakladatelstvími, mnozí učitelé působí jako fakultní učitelé.</p>
<p>Ve škole vyučuje několik amerických lektorů, externě spolupracují rodilí mluvčí německého, španělského a francouzského jazyka a učitelé některých odborných předmětů (ekonomie, programování aj.).</p>

<h2>Akce a projekty organizované školou</h2>
  <ul>
    <li>zahraniční studijní a poznávací pobyty (Velká Británie, Holandsko, Německo)</li>
    <li>týdenní seznamovací pobyty pro studenty primy a 1. ročníku</li>
    <li>týdenní kurz anglického jazyka pro studenty sekundy, zážitkové kurzy pro studenty kvart</li>
    <li>sportovní a lyžařské kurzy</li>
    <li>sportovní turnaje</li>
    <li>vodácké výlety na školních lodích</li>
    <li>archeologický výzkum pro studenty a pedagogy v době hlavních prázdnin,</li>
    <li>fotografické, recitační a literární soutěže</li>
    <li>divadelní představení studentů v češtině, angličtině a španělštině</li>
    <li>pravidelné vystoupení školního pěveckého sboru</li>
    <li>vydávání školního časopisu</li>
    <li>projekt „Miminko nanečisto“ (celoroční kurz rodinné a sexuální výchovy pro studenty prim)</li>
    <li>projekt protidrogové prevence Peer program</li>
    <li>Zapojení školy do soutěží, akcí a projektů</li>
    <li>Debatní liga v anglickém jazyce (významné úspěchy v národním i mezinárodním měřítku)</li>
    <li>Evropský parlament mládeže</li>
    <li>olympiády a soutěže ve všech předmětech</li>
    <li>sportovní turnaje a přebory</li>
    <li>Klub mladých diváků</li>
  </ul>
<h3>Iniciativy studentů v humanitárních akcích</h3>
  <ul>
    <li>Český den proti rakovině – Květinový den</li>
    <li>Bílá pastelka</li>
    <li>peněžní sbírka na vánoční dárky pro děti z dětských domovů</li>
    <li>další humanitární sbírky</li>
  </ul>