nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
}
ul.nav {
  position: fixed;
  list-style-type: none;
  margin: 1%;
  padding: 0%;
  width: 13%;
  background-color: #00A5A5;
  text-align: left;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
li a.nav{
  display: block;
  width: 6px;
}
 li a:hover {
  background-color: #4CAF50;
  color: white;
}
.dropdown {
  margin-left: 15%;
}
