body {
  font-family: Georgia, serif;
  background-color: #316B97;
}
div {}

#wrapper-header{
  top: 0;
  left: 0;
  width: 85%;
  height: 95%;
  border-color: #84B4D8;
  background-color: #84B4D8;
  border-style: double;
  text-align: center;
  margin-left: 15%;
  min-height: 180px;
} #wrapper-obsah{
  border-color: #E03D54;
  background-color: #E03D54;
  border-style: solid;
  padding: 3%;
  margin-left: 15%;
  margin-bottom: 1%;
}
#prihlas {
  float: right;
  width: 50%;
  height: 50%;
  top: 25%;
  margin: 0 auto;
  padding-top: 1%;
}
#zacatek {
  float: left;
  margin: 0 auto;
  width: 30%;
  height: 50%;
  top: 25%;
  padding-top: 1%;
}
#patka {
  border-color: #FA919F;
  background-color: #FA919F;
  border-style: solid;
  padding: 2%;
  margin-left: 15%;
  margin-right: 15%;
  max-height: 160px;

}#patka1{
  float:left;
  padding: 4%;
}#patka2 {
  text-align: center;
}#patka3 {
  float:right;
  padding: 6%;
}
ul.nav {
  background-color: #FA919F;
}
li.nav {
  color: #000;
} li a:hover {
  background-color: #E03D54;
}
