nav {
  top: 0;
  width: 100%;
}
ul.nav {
  list-style-type: none;
  width: 100%;

}
li.nav {
  float: left;
} li a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  color: white;
}
