nav {
  position: fixed;
  top: 0;
  width: 100%;
}
ul.nav {
  list-style-type: none;
  margin: 1%;
  padding: 0%;
  width: 13%;
  background-color: #00A5A5;
  border-bottom: 1px solid #555;

  text-align: center;
}  li:last-child {
  border-bottom: none;
}
li a.nav {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
} li a:hover {
  background-color: #555;
  color: white;
}.dropdown {
  position: fixed;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin: 2%;
  width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
} .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
