body {
    font-family: verdana;
}

#wrapper-header{
  background-color: white;
  top: 0;
  left: 0;
  width: 85%;
  height: 95%;
  border-color: #00D200;
  border-style: double;
  text-align: center;
  margin-left: 15%;
  min-height: 180px;
}
#wrapper-obsah{
  background-color: white;
  border-color: #00D200;
  border-style: solid;
  padding: 3%;
  margin-left: 15%;
  margin-bottom: 1%;
}
#prihlas {
  float: right;
  width: 50%;
  height: 50%;
  top: 25%;
  margin: 0 auto;
  padding-top: 1%;
}
#zacatek {
  float: left;
  margin: 0 auto;
  width: 30%;
  height: 50%;
  top: 25%;
  padding-top: 1%;
}
#patka {
  background-color: white;
  border-color: #00A5A5;
  border-style: solid;
  padding: 2%;
  margin-left: 15%;
  margin-right: 15%;
  max-height: 160px;

}#patka1{
  float:left;
  padding: 4%;
}#patka2 {
  text-align: center;
}#patka3 {
  float:right;
  padding: 6%;
}
ul.nav {
  background-color: #00A5A5;
}
li.nav {
  color: #000;
} li a:hover {
  background-color: #4CAF50;
}
li a:hover {
  background-color: #4CAF50;
  color: white;
}
