body {
    font-family: verdana;
    background-color: #92CAE2;
}

#wrapper-header{
  background-color: white;
  top: 0;
  left: 0;
  width: 85%;
  height: 95%;
  border-color: #E33D80;
  border-style: inset;
  text-align: center;
  margin-left: 15%;
  min-height: 180px;
}
#wrapper-obsah{
  background-color: white;
  border-color: #E33D80;
  border-style: double;
  padding: 3%;
  margin-left: 15%;
  margin-bottom: 1%;
}
#prihlas {
  float: right;
  width: 50%;
  height: 50%;
  top: 25%;
  margin: 0 auto;
  padding-top: 1%;
}
#zacatek {
  float: left;
  margin: 0 auto;
  width: 30%;
  height: 50%;
  top: 25%;
  padding-top: 1%;
}
#patka {
  background-color: white;
  border-color: #E33D80;
  border-style: ridge;
  padding: 2%;
  margin-left: 27%;
  margin-right: 15%;
  max-height: 160px;

}#patka1{
  float:left;
  padding: 4%;
}#patka2 {
  text-align: center;
}#patka3 {
  float:right;
  padding: 6%;
}
ul.nav {
  background-color: white;
  border-color: #E33D80;
  border-style: outset;
}
li a:hover {
  background-color: #E33D80;
  color: white;
}